@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-awhite: 0deg 0% 98%;
    --color-mgray: 0deg 0% 41%;
    --color-ablack: 0deg 0% 8%;
  }
}
